<div class="container-area w-full flex flex-col items-center">
  <br>
  <h1>Visitor List</h1>
  <table mat-table class="mat-elevation-z8 text-center w-table" [dataSource]="customerList">
     <!-- Position Column -->
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="picName">
      <th mat-header-cell *matHeaderCellDef>Nama PIC</th>
      <td mat-cell *matCellDef="let element">{{ element.picName }}</td>
    </ng-container>

    <ng-container matColumnDef="prodName">
      <th mat-header-cell *matHeaderCellDef>Nama Barang</th>
      <td mat-cell *matCellDef="let element">{{ element.prodName }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Harga Barang</th>
      <td mat-cell *matCellDef="let element">{{ element.prodPrice | rupiah }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>No. Antrian</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent" class="mr-2" (click)="printQueueNum(element.queueNum)">Cetak
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>